.calc-container {
    position: relative;
    z-index: 10;
    overflow: auto;
    height: 100%;
}

.calc-container h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #01665299;
    text-transform: uppercase;
}

.calc-container .calc-plain-table tbody tr:nth-child(1) td,
.calc-container .calc-plain-table tbody tr:nth-child(1) th {
    border-top: 0;
}

.calc-container .calc-plain-table tfoot td {
    font-weight: bold;
}