.drop-area {
    position: relative;
    background-image: url('/CSV-Analytics/imgs/chris-liverani-552652-unsplash.jpg');
    background-size: cover;
    padding: 3rem;
}

.drop-area.dragging {
}

.drop-area::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 40px 40px;
    border-color: transparent transparent #00cc99 transparent;
}

.drop-area .overlay-darker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 1);
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
}

.drop-area.dragging .overlay-darker {
    opacity: 0.8;
}

.drop-area .overlay-line {
    position: relative;
    border: 1px solid rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
    background-image: url('/CSV-Analytics/imgs/drop-file-icon.png');
    background-position: center;
    background-size: 130px auto;
    background-repeat: no-repeat;
    transform: scale(1, 1);
    transition: transform 0.2s ease-out;
    cursor: pointer;
}


.drop-area.dragging .overlay-line {
    animation: shake-slow 7s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.drop-area:hover .overlay-line {
    transform: scale(1.01, 1.01);
}

@keyframes shake-slow {
  2% { transform: translate(2px, 2px) rotate(0.5deg) scale(1.03, 1.04) }
  4% { transform: translate(-3px, 6px) rotate(-0.5deg) scale(1.03, 1.04) }
  6% { transform: translate(4px, 2px) rotate(0.0deg) scale(1.03, 1.04) }
  8% { transform: translate(3px, -4px) rotate(0.5deg) scale(1.03, 1.04) }
  10% { transform: translate(-2px, 6px) rotate(1.3deg) scale(1.03, 1.04) }
  12% { transform: translate(-1px, -7px) rotate(-0.5deg) scale(1.03, 1.04) }
  14% { transform: translate(-1px, 3px) rotate(1.3deg) scale(1.03, 1.04) }
  16% { transform: translate(3px, 1px) rotate(1.3deg) scale(1.03, 1.04) }
  18% { transform: translate(4px, 4px) rotate(-0.0deg) scale(1.03, 1.04) }
  20% { transform: translate(2px, -4px) rotate(-0.5deg) scale(1.03, 1.04) }
  22% { transform: translate(-6px, 7px) rotate(-0.5deg) scale(1.03, 1.04) }
  24% { transform: translate(6px, 3px) rotate(-0.0deg) scale(1.03, 1.04) }
  26% { transform: translate(4px, 0px) rotate(-0.5deg) scale(1.03, 1.04) }
  28% { transform: translate(-2px, -3px) rotate(0.5deg) scale(1.03, 1.04) }
  30% { transform: translate(-3px, -7px) rotate(-0.5deg) scale(1.03, 1.04) }
  32% { transform: translate(-7px, -6px) rotate(-1.3deg) scale(1.03, 1.04) }
  34% { transform: translate(4px, 1px) rotate(-0.0deg) scale(1.03, 1.04) }
  36% { transform: translate(-3px, 6px) rotate(1.5deg) scale(1.03, 1.04) }
  38% { transform: translate(-2px, 6px) rotate(1.3deg) scale(1.03, 1.04) }
  40% { transform: translate(3px, 6px) rotate(-0.0deg) scale(1.03, 1.04) }
  42% { transform: translate(6px, -3px) rotate(0.0deg) scale(1.03, 1.04) }
  44% { transform: translate(2px, 4px) rotate(-0.0deg) scale(1.03, 1.04) }
  46% { transform: translate(4px, -3px) rotate(1.5deg) scale(1.03, 1.04) }
  48% { transform: translate(3px, -1px) rotate(-1.3deg) scale(1.03, 1.04) }
  50% { transform: translate(0px, -1px) rotate(1.3deg) scale(1.03, 1.04) }
  52% { transform: translate(-4px, -4px) rotate(1.5deg) scale(1.03, 1.04) }
  54% { transform: translate(-3px, 6px) rotate(-1.3deg) scale(1.03, 1.04) }
  56% { transform: translate(1px, 3px) rotate(-0.0deg) scale(1.03, 1.04) }
  58% { transform: translate(1px, 0px) rotate(-0.0deg) scale(1.03, 1.04) }
  60% { transform: translate(-7px, -1px) rotate(-0.0deg) scale(1.03, 1.04) }
  62% { transform: translate(2px, -3px) rotate(0.0deg) scale(1.03, 1.04) }
  64% { transform: translate(-3px, 6px) rotate(-1.3deg) scale(1.03, 1.04) }
  66% { transform: translate(-3px, 2px) rotate(1.3deg) scale(1.03, 1.04) }
  68% { transform: translate(3px, 7px) rotate(-1.3deg) scale(1.03, 1.04) }
  70% { transform: translate(-4px, 6px) rotate(0.5deg) scale(1.03, 1.04) }
  72% { transform: translate(-1px, 1px) rotate(1.3deg) scale(1.03, 1.04) }
  74% { transform: translate(2px, 4px) rotate(1.5deg) scale(1.03, 1.04) }
  76% { transform: translate(-3px, -4px) rotate(-0.5deg) scale(1.03, 1.04) }
  78% { transform: translate(-1px, -2px) rotate(-0.5deg) scale(1.03, 1.04) }
  80% { transform: translate(0px, 3px) rotate(1.3deg) scale(1.03, 1.04) }
  82% { transform: translate(2px, 6px) rotate(-1.3deg) scale(1.03, 1.04) }
  84% { transform: translate(1px, 6px) rotate(1.3deg) scale(1.03, 1.04) }
  86% { transform: translate(-7px, 3px) rotate(1.5deg) scale(1.03, 1.04) }
  88% { transform: translate(3px, 7px) rotate(0.5deg) scale(1.03, 1.04) }
  90% { transform: translate(0px, -2px) rotate(-1.3deg) scale(1.03, 1.04) }
  92% { transform: translate(-3px, 3px) rotate(-0.0deg) scale(1.03, 1.04) }
  94% { transform: translate(-4px, 0px) rotate(-0.0deg) scale(1.03, 1.04) }
  96% { transform: translate(3px, -4px) rotate(1.5deg) scale(1.03, 1.04) }
  98% { transform: translate(3px, 2px) rotate(-0.0deg) scale(1.03, 1.04) }
  0%, 100% { transform: translate(0, 0) rotate(0) scale(1.03, 1.04) }
}