.round-button {
    width: 45px;
    height: 45px;
    padding: 0.7rem 0.74rem;
    border-radius: 50%;
    transition: background 0.1s ease-out;
    cursor: pointer;
}

.round-button:hover, .round-button.active {
    background: rgba(255, 255, 255, 0.2);
}
